<div class="room-filters">
  <h4>Room Type<span class="toggle-filter"><%= params[:filter].present? ? (params[:filter][:room_type].present? ? '-' : '+') : '-' %></span></h4>
  <div class="room-filter room_type <%= params[:filter].present? ? (params[:filter][:room_type].present? ? '' : 'filter-hide') : '' %>">
    <ul>
      <% @room_type.each do |k,v| %>
          <li>
            <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:room_type].present? and params[:filter][:room_type].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="room_type" >
              <%= k[0] %>
              <span class="count">(<%= v %>)</span>
              <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:room_type].present? and params[:filter][:room_type].include? k[1].to_s %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>

  <h4>Room Style<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:room_style].present?) ? "-":"+" %></span></h4>
  <div class="room-filter room_style <%= (params[:filter].present? and params[:filter][:room_style].present?) ? '' : 'filter-hide' %>">
    <ul>
      <% @room_style.each do |k,v| %>
          <li>
            <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:room_style].present? and params[:filter][:room_style].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="room_style" >
              <%= k[0] %>
              <span class="count">(<%= v %>)</span>
              <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:room_style].present? and params[:filter][:room_style].include? k[1].to_s %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>

  <h4>Color<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:color].present?) ? "-":"+" %></span></h4>
  <div class="room-filter color <%= (params[:filter].present? and params[:filter][:color].present?) ? '' : 'filter-hide' %>">
    <ul>
      <% @colors.each do |k,v| %>
          <li>
            <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:color].present? and params[:filter][:color].include? k[1].to_s %>" data-value="<%= k[1] %>" data-filter="color" >
              <%= k[0] %>
              <span class="count">(<%= v %>)</span>
              <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:color].present? and params[:filter][:color].include? k[1].to_s %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>

  <h4>Designer<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:designer_id].present?) ? "-":"+" %></span></h4>
  <div class="room-filter designer <%= (params[:filter].present? and params[:filter][:designer_id].present?) ? '' : 'filter-hide' %>">
    <ul>
      <% @designers.each do |k,v| %>
          <li>
            <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:designer_id].present? and params[:filter][:designer_id].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="designer" >
              <%= k[0] %>
              <span class="count">(<%= v %>)</span>
              <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:designer_id].present? and params[:filter][:designer_id].include? k[1].to_s %>
            </a>
          </li>
      <% end %>
    </ul>
  </div>
</div>