<tr class="false">
  <td class="status"><span class="label label-published">Published</span></td>
  <td class="board-thumb">
    <%= image_tag board.portfolio_image.url(:carousel), class: 'img-responsive portfolio-img', lazy: true %>
  </td>
  <td class="board-title">
    <%= board.name %>
    <div class="board-actions">
      <%= link_to "View Public Page", show_portfolio_path(board), :class => "btn btn-default btn-sm"%>
      <%= link_to "Widget", "#", :class => "btn btn-default btn-sm widget-link", data: {container: "body", toggle: "popover", placement: "bottom", :'room-id' => board.id, :portfolio => true} %>
    </div>
  </td>
  <td class="stat align-center"><%= board.variants.size %></td>
  <td class="stat align-center"><%= board.impressionist_count %></td>
  <td class="stat align-center"><%= board.portfolio_commission.to_s %></td>
</tr>