<div class="row db-custom">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <%= render :partial => "dashboard_menu", :locals => {:selected => "dashboard"} %>
  </div>

  <div class="col-md-9 col-sm-12 col-xs-12">
    <div class="page-header clearfix">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 header-actions">


          <% if @designer_type == "room designer" %>
              <%= render partial: "public_rooms_menu", locals: {hide: nil} %>
          <% elsif @designer_type == "all access" %>
              <%= render partial: "private_rooms_menu", locals: {hide: nil} %>
          <% elsif @designer_type == "room all access" %>
              <%= render partial: "public_rooms_menu", locals: {hide: false} %>
              <%= render partial: "private_rooms_menu", locals: {hide: true} %>
          <% end %>
        </div>

      </div>
    </div>
    <div class="room-type-buttons">
      <div class="btn btn-default btn-tab js-get-room-type <%= select_active_tab(spree_current_user, false) %>" data-private="false">Public
        Rooms
      </div>
      <div class="btn btn-default btn-tab js-get-room-type <%= select_active_tab(spree_current_user, true) %>" data-private="true">Private
        Projects
      </div>
    </div>


    <% unless @boards.blank? %>
        <table class="table table-board-listing">
          <% if @designer_type == "all access" %>
              <%= render partial: "table_header_private" %>
          <% else %>
              <%= render partial: "table_header_public" %>
          <% end %>
          <tbody class="dashboard">

          <% @boards.each do |board| %>
              <% if board.instance_of?(Spree::Board) %>
                  <%= render partial: "board_row", locals: {board: board} %>
              <% else %>
                  <% cache board do %>
                      <%= render partial: "portfolio_row", locals: {board: board} %>
                  <% end %>
              <% end %>

          <% end %>

          </tbody>
        </table>

        <%= render partial: "upgrade_image" %>

        <%- if spree_current_user.designer_commission.present? and @designer_type != "all access" %>
            <div class="board-title designer_commission_style">
              <%= "Total earned: #{number_to_currency(spree_current_user.designer_commission)}" %>
            </div>
            <div class="board-title designer_commission_style">
              <%= "Total paid: #{number_to_currency(spree_current_user.total_affiliate_payments_amount)}" %>
            </div>
            <div class="board-title designer_commission_style">
              <%= "Total due: #{number_to_currency(spree_current_user.afilliate_balance_due)}" %>
            </div>
        <%- end %>
    <% else %>
        <!--<div class="empty-state empty-tabs">You have not created any rooms yet.</div>-->
        <%= render partial: "upgrade_image" %>
    <% end %>
  </div>
</div>

<div id="board-history-modal-handler"></div>

<%= render partial: 'after_submit_to_publish_modal' %>
<%= render partial: 'dashboard_welcome_modal' %>

<script>
    $('#new_room_button').popover();
    if ($('.table.table-board-listing tbody tr').length == 1 && document.referrer.match('design') != null && <%= session[:page_count]==0 ? true:false %>) {
        tutorial = new EnjoyHint({});
        dashboard_after_save = [
            {
                'click .board-actions': "Now that you've saved your room, you can preview it to ensure it is exacly how you want it. You can hiy Edit to make changes to your room, or you can \"Submit to Publish\" if your room is finished and you are ready for it to go live."
            }
        ];
        tutorial.set(dashboard_after_save);
        tutorial.run();
    }
    <% if params[:private].present? and (params[:private]=='true' or params[:private]==true) %>
    btn = $(".js-get-room-type[data-private='true']");
    globalClickChange(btn);
    el = $("#project_select option[value=<%= params[:id] %>]");
    $("#project_select").val(<%= params[:id] %>);
    globalChange(el);
    <% else %>
      $('.table-board-listing tbody .false').first().addClass('nbt');
      $('.table-board-listing tbody .true').first().addClass('nbt');
    <% end %>
</script>