<div class="row db-custom">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <%= render :partial => "dashboard_menu", :locals => {:selected => "dashboard"}%>
  </div>

  <div class="col-md-9 col-sm-12 col-xs-12">
    <div class="page-header clearfix">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 header-actions">


          <% if @designer_type == "room designer" %>
              <%= render partial: "public_rooms_menu" %>
            <% elsif @designer_type == "all access" %>
              <%= render partial: "private_rooms_menu" %>
            <% end %>
        </div>

      </div>
    </div>
    <div class="room-type-buttons">
      <div class="btn btn-default btn-tab js-get-room-type <%= select_active_tab(spree_current_user,false) %>" data-private="false">Public Rooms</div>
      <div class="btn btn-default btn-tab js-get-room-type <%= select_active_tab(spree_current_user,true) %>" data-private="true">Private Projects</div>
    </div>


    <% unless @boards.blank? %>
        <table class="table table-board-listing">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 20%" />
            <col style="width: 40%" />
            <col style="width: 12%" />
            <col style="width: 10%" />
            <col style="width: 10%" />
          </colgroup>
          <thead>
          <tr>
            <th class="status">&nbsp;</th>
            <th colspan="2"></th>
            <th class="align-center"># Products</th>
            <th class="align-center"># Views</th>
            <th class="align-center">Revenue</th>
          </tr>
          </thead>
          <tbody class="dashboard">

            <% @boards.each do |board|%>
              <% cache board do %>
                <% if board.instance_of?(Spree::Board) %>
                  <%= render partial: "board_row", locals: {board: board} %>
                <% else %>
                  <%= render partial: "portfolio_row", locals: {board: board} %>
                <% end %>
              <% end %>

            <% end %>

          </tbody>
        </table>
        <%- if spree_current_user.designer_commission.present?  %>
            <div class="board-title designer_commission_style">
              <%=  "Total earned: #{number_to_currency(spree_current_user.designer_commission)}" %>
            </div>
            <div class="board-title designer_commission_style">
              <%= "Total paid: #{number_to_currency(spree_current_user.total_affiliate_payments_amount)}" %>
            </div>
            <div class="board-title designer_commission_style">
              <%= "Total due: #{number_to_currency(spree_current_user.afilliate_balance_due)}" %>
            </div>
        <%- end%>
    <% else %>
        <div class="empty-state empty-tabs">You have not created any rooms yet.</div>
    <% end %>
  </div>
</div>

<div id="board-history-modal-handler"></div>

<%= render partial: 'after_submit_to_publish_modal' %>
<%= render partial: 'dashboard_welcome_modal' %>

<script>
    $('#new_room_button').popover();
    if($('.table.table-board-listing tbody tr').length == 1 && document.referrer.match('design') != null && <%= session[:page_count]==0 ? true:false %>) {
      tutorial = new EnjoyHint({});
      dashboard_after_save = [
        {
          'click .board-actions' : "Now that you've saved your room, you can preview it to ensure it is exacly how you want it. You can hiy Edit to make changes to your room, or you can \"Submit to Publish\" if your room is finished and you are ready for it to go live."
        }
      ];
      tutorial.set(dashboard_after_save);
      tutorial.run();
    }
    <% if params[:private].present? and (params[:private]=='true' or params[:private]==true) %>
      console.log('prawda');
      btn = $(".js-get-room-type[data-private='true']");
      globalClickChange(btn);
    console.log('prawda21321');
      el = $("#project_select option[value=<%= params[:id] %>]");
      $("#project_select").val(<%= params[:id] %>);
      globalChange(el);
    console.log('prawda52151');
    <% end %>
</script>