<table class="table-invoice">
  <colgroup>
    <col style="width: 25%;">
    <col style="width: 15%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
    <col style="width: 20%;">
  </colgroup>
  <thead>
    <tr>
      <th class="align-center">IMAGE</th>
      <th class="align-center">SKU</th>
      <th class="align-center">NAME</th>
      <th class="align-center">YOUR COST</th>
      <th class="align-center">CUSTOMER COST</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @board_products.each do |bp| %>
      <tr>
        <td>
          <%= listing_image(bp, :itemprop => 'image',class:'img-responsive') %>
        </td>
        <td>
          <%= bp.sku %>
        </td>
        <td>
          <%= bp.name %>
        </td>
        <td>
          <%= bp.price %>
        </td>
        <td>
          <%= bp.price %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-right">
  <div class="btn btn-xs btn-default text-right close-invoice">Close</div>
  <div class="btn btn-xs btn-primary text-right save-invoice">Save</div>
</div>
