<div class="page-header">

  <%= image_tag("frontend/all_access_designer/header.png", class: "img-responsive", :style => "margin-bottom: 20px; width: 100%;")%>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-custom-large js-jump-to-designer-form">join now</a>
  </div>
  <div class="col-md-12 all-access">
    <p class="header">let us be your virtual assistant</p>
    The business side of interior design can be tedious and time-consuming.<br>
    With our All-Access interior design program, we can take the stress of<br>
    project managment off your hands so you can get back to doing what<br>
    you love - designing. Our interior design services were build for<br>
    designers, by designers to cater to your business managment needs.<br>
  </div>

  <div class="col-md-12">
    <%= image_tag("frontend/all_access_designer/timeline.png", class: "img-responsive") %>
  </div>
</div>

<div class="row designer-registration-content vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12 custom-col">
    <%= image_tag("frontend/all_access_designer/1.png", class: "img-responsive") %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text custom-col">
    <p class="head">Custom Design Contracts</p>
    Our All-Access program allows you<br>
    to customize your design contracts<br>
    with ease. The E-signature contract<br>
    feature helps you organize your<br>
    projects and minimize your<br>
    paperwork. We'll keep it all in one<br>
    place and protected to give you<br>
    peace of mind.
  </div>
</div>

<div class="row designer-registration-content vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12 text custom-col">
    <p class="head">Personalized Invoicing and Emails</p>
    As a designer, you have a lot on your plate.<br>
    Let us streamline your business by taking care<br>
    of the dirty work. Get more done in less time<br>
    by having personalized, automated invoicing<br>
    and emails sent to your clients. No more<br>
    wasting time creating and sending invoices or<br>
    chasing clients; we'll help you get paid faster<br>
    and make client billing easier.
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 custom-col">
    <%= image_tag("frontend/all_access_designer/2.png", class: "img-responsive") %>
  </div>
</div>

<div class="row designer-registration-content vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12 custom-col">
    <%= image_tag("frontend/all_access_designer/3.png", class: "img-responsive") %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text custom-col">
    <p class="head">Project Time Tracking</p>
    Your time is important and it is essential<br>
    that you get paid accurately for your<br>
    projects. Our time tracking system allows<br>
    you to automatically track your hours and<br>
    sync them to your invoices. Save time and<br>
    eliminate the hassle of calculating your own<br>
    hours. Our time tracking feature helps<br>
    ensures that you get paid for your work.
  </div>
</div>

<div class="row designer-registration-content vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12 text custom-col">
    <p class="head">Automated Design Proposals</p>
    Creating your design proposals can be time<br>
    consuming. Let us do it for you. We make this<br>
    process easy and quick with simplified data<br>
    entry managment. With the All-Access<br>
    designer program, we eliminate the hassle of<br>
    creating tear sheets and product invoices<br>
    giving you more time to focus on your work.<br>
    Design your room and let us do the rest!
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 custom-col">
    <%= image_tag("frontend/all_access_designer/4.png", class: "img-responsive") %>
  </div>
</div>

<div class="row designer-registration-content vertical-align">
  <div class="col-md-6 col-sm-6 col-xs-12 custom-col">
    <%= image_tag("frontend/all_access_designer/5.png", class: "img-responsive") %>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 text custom-col">
    <p class="head">Pricing</p>
    If you want to gain access to our top-notch<br>
    interior design program, sign up today! For<br>
    $69/month, you will recive all aspects of our<br>
    program, including automated emails, one-click<br>
    design contracts, time tracking systems, and<br>
    more. If you're ready to work smarter, not<br>
    harder, join Scout & Nimble's All-Access designer<br>
    program or contact us at<br>
    designer@scoutandnimble.com to learn more.<br>
    Reference All-Access Inquiry.
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-primary btn-custom-large js-jump-to-designer-form">join now</a>
  </div>
</div>

<div class="row mtl" id="designer-form">
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <div class="login-box">
      <div class="login-header">
        <h6>Designer Registration</h6>
      </div>
      <div class="login-content">

        <% if spree_current_user %>
            <h4>Step 2 of 2: Complete designer application</h4>
            <%= render :partial => "form" %>
        <% else %>
            <h4>Step 1 of 2: Create your All-Access Account</h4>
            <p>Please enter the information below to create your account.</p>
            <%= render :partial => "login_form" %>

        <% end %>
      </div>
    </div>

  </div>
</div>