<div class="form-group hidden">
  <%= f.text_field :user_id, :value => spree_current_user.id, :class => 'form-control text-center'%>
  <div class="info"></div>
  <div class="error"></div>
</div>

<div class="form-group">
  <%= f.text_field :project_name, :placeholder => 'Customer Name (Also Project Name)', :class => 'form-control text-center'%>
  <div class="info"></div>
  <div class="error project_name_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :address1, :placeholder => 'Address Line 1', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error address1_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :address2, :placeholder => 'Address Line 2', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error address2_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :city, :placeholder => 'City', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error city_error"></div>
</div>

<div class="form-group">
  <%= f.select :state, options_for_select(Spree::State.order(name: :asc).map{|s| [s.name,s.abbr]},@project.state), {}, :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error state_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :zip_code, :placeholder => 'Zip Code', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error zip_code_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :email, :placeholder => 'Email', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error email_error"></div>
</div>

<div class="form-group">
  <%= f.text_field :phone, :placeholder => 'Phone', :class => 'form-control text-center' %>
  <div class="info"></div>
  <div class="error phone_error"></div>
</div>

<div class="form-group">
  <%= f.text_area :description, :placeholder => 'Project Description (Scope of Work)', :class => 'form-control text-center'%>
  <div class="info"></div>
  <div class="error description_error"></div>
</div>