<div class="form-group hidden">
  <%= f.text_field :user_id, :value => spree_current_user.id, :class => 'form-control text-center'%>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :project_name, :placeholder => 'Customer Name (Also Project Name)', :class => 'form-control text-center'%>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :address1, :placeholder => 'Address Line 1', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :address2, :placeholder => 'Address Line 2', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :city, :placeholder => 'City', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.select :state, options_for_select(Spree::State.order(name: :asc).map{|s| [s.name,s.abbr]}), {}, :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :zip_code, :placeholder => 'Zip Code', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :email, :placeholder => 'Email', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>

<div class="form-group">
  <%= f.text_field :phone, :placeholder => 'Phone', :class => 'form-control text-center' %>
  <div class="info"></div>
</div>