<div class="row">
    <div class="col-md-3 col-sm-12 col-xs-12">
        <%= render :partial => "spree/boards/dashboard_menu", :locals => {:selected => "projects"} %>
    </div>

    <div class="col-md-9 col-sm-12 col-xs-12">
        <%= form_for @project, :method => 'patch',:url => project_path, html: {id: "update_project_form"} do |f| %>
          <div class="row">
             <div class="col-md-8 col-md-offset-2">
               <div class="step step-1">
                 <h2>STEP 1</h2>
                 <div class="col-md-12 text-center">
                   <h1>Customer Information</h1>
                 </div>
                <%= render :partial => "step1", locals: {f: f} %>
                 <div class="text-right">
                 <button class="btn btn-primary text-right project-next-step" data-step="2" data-current-step="1">Next</button>
                  </div>
               </div>

               <div class="step step-2" style="display: none;">
                 <h2>STEP 2</h2>
                 <div class="col-md-12 text-center">
                   <h1>Billing Method</h1>
                 </div>
                  <%= render :partial => "step2", locals: {f: f} %>
                 <div class="text-right">
                   <!--<button class="btn btn-primary text-right project-prev-step" data-step="1">prev</button>-->
                    <button class="btn btn-primary project-next-step" data-step="3" data-current-step="2">Next</button>
                  </div>
               </div>

               <div class="step step-3" style="display: none;">
                  <h2>STEP 3</h2>
                 <div class="col-md-12 text-center">
                   <h1>Select a Contract</h1>
                 </div>
                 <%= render :partial => "step3", locals: {f: f} %>
                   <div class="form-actions text-right">
                     <button class="btn btn-primary text-right project-prev-step btn-no-radius" data-step="2" data-current-step="3">Back</button>
                     <!--<button class="btn btn-primary text-right project-prev-step" data-step="2">prev</button>-->
                     <!--<button class="btn btn-primary text-right project-prev-step" data-step="4">Next</button>-->
                    <%= f.submit "Save", :class => 'btn btn-primary' %>
                  </div>
               </div>


             </div>
          </div>


        <% end %>
    </div>
</div>