<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12">
    <%= render :partial => "spree/boards/dashboard_menu", :locals => {:selected => "dashboard"} %>
  </div>

  <div class="col-md-9 col-sm-12 col-xs-12">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="step step-4">
          <div class="col-md-12 text-center">
            <h3>PROJECT DETAILS</h3>
          </div>

          <div class="col-md-12 project-info-toggle js-project-info-toggle">
            CUSTOMER / BILLING / CONTRACT INFORMATION
            <span class="sign">+</span>
          </div>
          <div class="col-md-12" id="project-info-wrapper" style="display: none;">

            <div class="row project-step step1 text-center">
              <div class="col-md-4">
                <p><span class="step-name">Customer Info:</span></p>
                <p>
                  <%= link_to edit_project_path(id: @project.id, step: 1), class: "project-edit" do %>
                      <span class="project-edit">EDIT</span>
                  <% end %>
                </p>
              </div>
              <div class="col-md-6 data">
                <p>
                  <%= @project.project_name %><br>
                  <%= @project.description.truncate(21) if @project.description.present? %><br><br>
                  <%= @project.address1 %>, <%= @project.address2 %><br>
                  <%= @project.city %>, <%= @project.state %>, <%= @project.zip_code %>
                </p>
                <p>
                  <%= @project.email %><br>
                  <%= @project.phone %>
                </p>
              </div>
            </div>

            <div class="row project-step step2 text-center">
              <div class="col-md-4">
                <p><span class="step-name">Billing Method:</span></p>
                <p>
                  <%= link_to edit_project_path(id: @project.id, step: 2), class: "project-edit" do %>
                      <span class="project-edit">EDIT</span>
                  <% end %>
                </p>
              </div>
              <div class="col-md-6 data">
                <p>
                  <%= @project.display_rate_type %><br>
                  <%= @project.rate %><br>
                  Upfront deposit: <%= @project.upfront_deposit ? @project.deposit_amount : "No" %><br>
                  <%= @project.get_customer_billing_cycle %>
                </p>
              </div>
            </div>

            <div class="row project-step step3 text-center">
              <div class="col-md-4">
                <p><span class="step-name">Contract Terms:</span></p>
                <p>
                  <%= link_to edit_project_path(id: @project.id, step: 3), class: "project-edit" do %>
                      <span class="project-edit">EDIT</span>
                  <% end %>
                </p>
              </div>
              <div class="col-md-6 data">
                <%= @project.display_rate_type %><br>
                <% if @project.charge %>
                    Percentage: Yes<br>
                    <%= @project.charge_on == 'alternate' ? 'On Alternate Products' : 'On All Products' %><br>
                    Charge: <%= @project.charge_percentage %>%<br>
                <% else %>
                    Percentage: No<br>
                <% end %>
                Pass discount: <%= @project.pass_discount ? "#{@project.discount_amount}%" : "No" %>
              </div>
            </div>
          </div>


          <%= render :partial => "project_history" %>
          <div class="row text-center manually_add_invoice" style="display: <%= check_if_contract_changed(@project) ? 'none;' : 'block;' %>">
            <%= link_to "MANUALLY ADD INVOICE", new_project_invoice_line_path(@project), class: "btn btn-primary send-contract" %>
          </div>
          <% if check_if_contract_changed(@project) %>
              <div class="action_preview">
                <div class="row text-center">
                  <%= link_to "PREVIEW CONTRACT", preview_contract_path(id: @project.id, format: :pdf), class: "btn btn-primary send-contract", id: "preview_contract", target: "_blank" %>
                </div>
              </div>
          <% end %>
          <% if check_if_contract_changed(@project, true) %>
              <div class="action_send">
                <div class="row text-center">
                  <div class="btn btn-primary send-contract js-send-contract">SEND CONTRACT</div>
                </div>
              </div>
          <% end %>
          <% if check_if_contract_changed(@project) %>
              <div class="action_wihout_contract">
                <div class="row text-center">
                  <%= link_to "START WITHOUT CONTRACT", start_without_contract_project_path(@project), class: "btn btn-primary send-contract js-start-without-contract" %>
                </div>
              </div>
          <% end %>
          <div class="row text-center design_room" style="display: <%= check_if_contract_changed(@project) ? 'none;' : 'block;' %>">
            <%= link_to "DESIGN A ROOM", new_room_path(id: @project, private: true, project_id: @project.id), class: "btn btn-primary send-contract" %>
          </div>

          <div class="row text-center">
            <%= link_to "ADD INVOICE WITHOUT TIME", custom_invoice_project_invoice_lines_path(@project), class: "btn btn-primary send-contract" %>
          </div>
          <% unless Rails.env == "production" %>
              <div class="row text-center">
                <%= link_to "GENERATE INVOICE MANUALLY", generate_invoice_manually_project_invoice_lines_path(@project), class: "btn btn-primary send-contract js-generate-invoice" %>
                <br>
                GENERATE INVOICE MANUALLY is only in development/staging<br>
                because invices aren't generated automaticly yet<br>
                button will generate invoice and send email with notification
              </div>
          <% end %>

        </div>

      </div>
    </div>


  </div>
</div>

<%= render partial: "send_contract_modal" %>