<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<%= render :partial => 'spree/admin/shared/boards_sub_menu' %>

<% if @user %>

    <%= render 'spree/admin/shared/designer_menu' %>

    <% content_for :page_title do %>
        Rooms for <%= @user.full_name%>
    <% end %>

    <% content_for :page_actions do %>
        <li>
          <%= button_link_to Spree.t(:back_to_users_list), spree.admin_users_path, :icon => 'icon-arrow-left' %>
        </li>
    <% end %>
<% end %>
<% if !@portfolios.blank? %>
    <table class="table">
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Designer</th>
        <th>Visible</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @portfolios.each do |p| %>
          <tr>
            <td class="center">
              <%= image_tag p.portfolio_image.url(:carousel) %>
            </td>
            <td><%= p.name %></td>
            <td><%= p.user.profile_display_name if p.user %></td>
            <td class="center">
              <% if p.user.designer_registrations.present? and p.user.designer_registrations.first.status == "test designer" %>
                <%= check_box_tag :visible, '', p.show, class: "js-manage-visibility", disabled: true %>
                <br>
                <span class="errors">test designer</span>
              <% else %>
                <%= check_box_tag :visible, p.id, p.show, class: "js-manage-visibility", disabled: false %>
              <% end %>
            </td>
            <td>
              <%= link_to 'Delete',  admin_destroy_portfolio_path(p), class: 'js-destroy-portfolio'%>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @portfolios %>
<% else %>
    <div class="empty-state">
      No portfolios available.
    </div>

<% end %>