<table class="table-invoice <%= @board.id %>" data-board_id="<%= @board.id %>">
  <thead>
    <tr>
      <th class="align-center">IMAGE</th>
      <th class="align-center">SKU</th>
      <th class="align-center">NAME</th>
      <th class="align-center">YOUR COST</th>
      <th class="align-center">CUSTOMER COST</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <% @board_products.each do |bp| %>
      <% if bp.is_a?(Spree::Product) %>
        <tr data-id="<%= bp.id %>" data-custom="false">
          <td>
            <%= listing_image(bp, :itemprop => 'image',class:'img-responsive') %>
          </td>
          <td class="edit-sku" data-sku="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.sku.present?) ? bp.invoice_lines.first.sku : bp.sku %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.sku.present?) ? bp.invoice_lines.first.sku : bp.sku %>
            <span class="edit">edit</span>
          </td>
          <td class="edit-name" data-name="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.name.present?) ? bp.invoice_lines.first.name : bp.name %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.name.present?) ? bp.invoice_lines.first.name : bp.name %>
            <span class="edit">edit</span>
          </td>
          <td>
            <%= bp.price %>
          </td>
          <td class="edit-customer-cost" data-customer-cost="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.customer_cost.present?) ? bp.invoice_lines.first.customer_cost : bp.price %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.customer_cost.present?) ? bp.invoice_lines.first.customer_cost : bp.price %>
            <span class="edit">edit</span>
          </td>
        </tr>
      <% else %>
        <tr data-id="<%= bp.id %>" data-custom="true">
          <td>
           <%= image_tag bp.image(:medium), class: 'img-responsive' %>
          </td>
          <td class="edit-sku" data-sku="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.sku.present?) ? bp.invoice_lines.first.sku : bp.sku %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.sku.present?) ? bp.invoice_lines.first.sku : bp.sku %>
            <span class="edit">edit</span>
          </td>
          <td class="edit-name" data-name="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.name.present?) ? bp.invoice_lines.first.name : bp.name %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.name.present?) ? bp.invoice_lines.first.name : bp.name %>
            <span class="edit">edit</span>
          </td>
          <td>
            <%= bp.price %>
          </td>
          <td class="edit-customer-cost" data-customer-cost="<%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.customer_cost.present?) ? bp.invoice_lines.first.customer_cost : bp.price %>">
            <%= (bp.invoice_lines.present? and bp.invoice_lines.first.board_id == @board.id and bp.invoice_lines.first.customer_cost.present?) ? bp.invoice_lines.first.customer_cost : bp.price %>
            <span class="edit">edit</span>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="text-right">
  <div class="btn btn-xs btn-default text-right close-invoice">Close</div>
  <div class="btn btn-xs btn-primary text-right save-invoice" data-board_id="<%= @board.id %>">Save</div>
</div>