<table class="index">
  <colgroup>
    <col style="width: 20%"/>
    <col style="width: 20%"/>
    <col style="width: 20%"/>
    <col style="width: 20%"/>
    <col style="width: 10%"/>
    <col style="width: 10%"/>
  </colgroup>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Designer</th>
    <th>Status</th>
    <th class="actions"></th>
  </tr>
  </thead>
  <% if @designer_registrations.present? %>
      <tbody>
      <% @designer_registrations.each do |registration| %>
          <tr class="<%= cycle('odd', 'even') %>" id="<%= dom_id registration %>">
            <td><%= registration.first_name %></td>
            <td><%= registration.last_name %></td>
            <td><%= registration.company_name %></td>
            <td><%= registration.status %></td>

            <td class="actions">
              <%= link_to_edit registration, :no_text => true %>
              <%= link_to_delete registration, :no_text => true %>
            </td>
          </tr>
      <% end %>

      </tbody>
      </table>

      <%= paginate @designer_registrations %>

  <% end %>