<div class="contract-content">
  <h2 class="pdf-contract-header text-center">INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT ORDER FORM</h2>
  <table class="pdf-contract-table">
    <colgroup>
      <col style="width: 50%" />
      <col style="width: 50%" />
    </colgroup>
    <tbody>
    <tr>
      <div class="row content">
        <td class="user-data">
          <div>First name: <%= designer.first_name.present? ? designer.first_name : user.first_name %></div>
          <div>Last name: <%= designer.last_name.present? ? designer.last_name : user.last_name %></div>
          <div>Website: <%= designer.website %></div>
          <div>Company name: <%= designer.company_name %></div>
          <div>Phone: <%= designer.phone %></div>
        </td>
        <td class="user-data">
          <div>Address1: <%= designer.address1 %></div>
          <div>Address2: <%= designer.address2 %></div>
          <div>City: <%= designer.city %></div>
          <div>State: <%= designer.state %></div>
          <div>Postal code: <%= designer.postal_code %></div>
          <div>Email: <%= user.email %></div>
        </td>
      </div>
    </tr>
    <tr>
      <td class="user-data">
        <div><strong>Client:</strong> <%= project.project_name %></div>
        <div>Phone: <%= project.phone %></div>
        <div>E-Mail: <%= project.email %></div>
      </td>
      <td class="user-data">
        <div>Address:</div>
        <div><%= project.address1 %></div>
        <div><%= project.address2 %></div>
        <div>City: <%= project.city %></div>
        <div>State: <%= project.state %></div>
        <div>Postal code: <%= project.zip_code %></div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="">
          The "<strong>Services</strong>" are comprised of <strong> Interior Design</strong> services and <strong>Merchandise Purchasing</strong> work.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Interior Design</strong> aspects of the Services will include, but not be limited to, providing:
        <ul>
          <li>a complete design concept including specifications of all finishes and materials;</li>

          <li>a floor plan layout of interior spaces; the selecting of fabrics, finishes, furnishings, and window treatments;</li>
          <li>a specification of wall coverings finishes and colors;</li>
          <li>oversight of production and fabrication requirements;</li>
          <li>assistance preparing the project budget and project schedule; and</li>
          <li>all other design related criteria for the interior spaces.</li>
        </ul>
        <strong class="underline">Services Fees for Interior Design Services:</strong><br>
        <span class="pdf-rp"><strong>Rate Type: </strong><%= project.display_rate_type %></span><br>
        <span class="pdf-rp"><strong><%= project.rate_title %>: </strong><%= project.show_dolar %><%= project.display_rate %><%= project.show_percentage %></span><br><br>

        <% if project.upfront_deposit %>
            <strong><span class="underline">Upfront Fee</span>: </strong>
            $<%= project.deposit_amount %><br><br>
        <% end %>

        <strong><span class="underline">Client Billing Cycle</span>: </strong>
        <%= project.get_customer_billing_cycle %>

      </td>
      <td>
        The <strong>Merchandise Purchasing</strong> work aspects of the Services will include, but not be limited to, arranging the:
        <ul>
          <li><strong>purchase of merchandise,</strong></li>
          <li><strong>purchase pre-approval,</strong></li>
          <li><strong>freight and shipping charges, and</strong></li>
          <li><strong>payment of merchandise.</strong></li>
        </ul>
        <strong>Services Fees for Purchasing Services:</strong> The fees for the Purchasing Services will be determined once the Designer and Client agree to what merchandise will be purchased.  The amount will be determined in the Purchasing Order detailed later.<br><br>

        <% if project.pass_discount %>
            <strong>Product Discounts</strong> - Designer agrees to pass to the Client the Designer's actual trade discounts, not to exceed <%= project.discount_amount %>%.<br><br>
        <% end %>

        <% if project.charge %>
            <strong>Merchandise Purchasing Charges:</strong> <%= project.charge_percentage %>%<br><%= project.charge_on_statement %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Term of Services: </strong>
        The term of this Agreement for Designer's Services shall begin on <%= Date.today.to_formatted_s(:long) %> (the "<strong>Effective Date</strong>") and end on project completion, unless extended or terminated as provided in this Agreement.
        <br>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <strong>Description of "Project":</strong><br>
        <% if project.description.present? %>
          <% if project.description.length > 140 %>
              Description is in an Addendum.
          <% else %>
              <%= project.description %>
          <% end %>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row content pdf-new-page pdf-small-margin">
    <div class="col-xs-12">
      This INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT ("<strong>Agreement</strong>") is entered into as of the Effective Date between the Designer and the Client listed above.
      <strong class="underline">THIS AGREEMENT INCLUDES AND INCORPORATES THE PRECEDING ORDER FORM, AS WELL AS THE  TERMS AND CONDITIONS AND ANY ADDENDA THAT FOLLOW.</strong> It contains, among other things description of interior design and merchandise purchasing services, manner of payment, and agreement termination.  <br><br>
      The undersigned Client and the Designer hereby acknowledge and agree to the terms and conditions contained in this Agreement, and further acknowledge that this Agreement, along with subsequent required details and documentation regarding, but not limited to, pricing/fees, terms, and timing, together represent a complete contract between the Client and the Designer.
    </div>
    <% if contract.present? %>
      <div class="col-xs-6 pdf-small-margin">
        <strong>Designer</strong><br>
        Name: <%= user.full_name %><br>
        Designer sign will appear here
      </div>
      <div class="col-xs-6 pdf-small-margin">
        <strong>Client</strong><br>
        Name: <%= project.project_name %><br>
        Your sign will appear here
      </div>
    <% end %>
  </div>


  <div class="row pdf-new-page content">
    <h2 class="pdf-contract-header text-center">TERMS AND CONDITIONS FOR THE INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT</h2>
    <div class="col-xs-6">
      <ol type="I">
        <li>
          <h4 class="blue">SERVICES</h4>
          <span class="blue">The Services shall include Interior Design and Purchasing Services (the "<strong>Services</strong>"), as described below:</span>
          <ol type="A">
            <li>
              <h4 class="blue">Interior Design Services</h4>
              <ol type="1">
                <li><strong>Meaning.</strong> Interior Design Services are the professional interior decoration and design services provided by Designer. These include, but are not be limited to, those services listed in the preceding order form.</li>

                <li><strong>Design Study.</strong>  Designer will conduct a study to determine Client's design preferences and requirements, Client's goals, and evaluate project resources and limitations.  Interviews with the Client or family members will help Designer fully understand the goals for the use and desired outcome.</li>

                <li><strong>Illustrations.</strong>  Designer will provide illustrations and other materials for Client to generally show the suggested interior design concepts, to include both space and/or floor plan specifications and furniture, furnishing, fixture, textile, and/or accessories specifications.</li>

                <li><strong>Other Plans.</strong>  If necessary Designer will prepare plans for recommended interior built-ins and other interior decorative details.</li>

                <li><strong>Additional Services.</strong>  Designer will assist the Client in finding the appropriate pieces and selecting textiles and finishes that compliment the overall design concept. Designer will also be providing Purchasing Services as defined in the preceding order form and further detailed in section 1.B.</li>

                <li><strong>Consent to Photography.</strong>  The Designer will have the permission from the Client to photograph the finished product.  The Client will allow the Designer to enter the location the services were performed to take photographs.  The Designer will be able to use the photographs for promoting their services.</li>

                <li><strong>Subcontractor Responsibility.</strong> Designer may provide a referral for contractors and installers, which are not employees of designers but rather independent contractors. Designer may also meet with contractors and installers for estimates and review the contractors' and installers' work to determine whether the work is proceding in general conformity with Designer's plan concepts. </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-xs-6">

      <ol type="I">
        <li class="list-none">

          <ol type="A" start="1">
            <li class="list-none">
              <ol type="1" start="7">
                <li class="list-none">
                  However, constant observation of contractors' work at the Project site is not a part of Designer's duties.  Designer is not responsible for the performance, quality, timely completion or delivery of any work, materials or equipment furnished by contractors. Designers will not intermediate disputes between the Client and recommended contractors or installers.
                </li>
                <li>
                  <strong>Ownership of Designs.</strong> All concepts, drawings, and specifications prepared by Designer (a.k.a. "<strong>Project Documents</strong>"), and all copyrights and other proprietary rights applicable thereto, remain at all times Designer's property. Project Documents may not be used by Client for any purpose other than completion of the Project by Designer. If the nature of the Project requires engagement by Client of any contractors to perform work based upon Designer's concepts, drawings or interior design specifications, the Client will enter into contracts directly with the appropriate contractor after obtaining written approval from Designer.
                </li>
              </ol>
            </li>
          </ol>

          <ol type="A" start="2">
            <li>
              <h4 class="blue">Merchandise Purchasing Services </h4>
              <ol type="1">
                <li><strong>Meaning</strong>. Purchasing Services are the purchases of Merchandise by Designer for the Client. The Services with regards to purchasing services will include, but not be limited to, the following:
                  <ol type="a">
                    <li><strong>Purchasing of Merchandise.</strong>  The Merchandise to be purchased for the project will be purchased by the Designer on behalf of the Client.  The Client will not purchase items, whether individual or multiple, for the project.</li>
                    <li><strong>Purchase Pre-Approval.</strong> Merchandise to be purchased through Designer will be specified on a Purchase Order ("<strong>PO</strong>") email by Designer and submitted for the Client's written acceptance (email reply is acceptable). Each PO will identify the item, its price, sales tax, and estimated freight or shipping cost to the Client (if available). A PO may be sent in the form of a pro forma Invoice.</li>
                    <li><strong>Freight and Shipping Charges.</strong> Freight and Shipping covers a range of different services and charges.  Freight and shipping charges are often not available at the time of order. If they are not available, the Client agrees to pay applicable freight and shipping, even if</li>
                  </ol>

                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>

    </div>
  </div>


  <div class="row pdf-new-page content">
    <h2 class="pdf-contract-header text-center">TERMS AND CONDITIONS FOR THE INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT</h2>
    <div class="col-xs-6">
      <ol type="I">
        <li class="list-none">

          <ol type="A" start="2">
            <li class="list-none">
              <ol type="1">
                <li class="list-none">
                  <ol type="a" class="list-none">
                    <li>they were not included in the PO or pro forma invoice. </li>
                    <ol type="1" class="pdf-custom-list">
                      <li><strong>Freight Shipping.</strong>  Freight Shipping is the shipping of items by large transportation modes such as semi-trailer truck, trains, and airplane.</li>
                      <li><strong>Small Parcel Shipping.</strong>  Small parcel shipping is the shipping of items by van or other comparable modes of transportation</li>
                      <li><strong>White Glove Services.</strong>  These services include the moving, loading, and unloading of merchandise into the desired location.</li>
                    </ol>
                  </ol>

                </li>
                <li>
                  <strong>Sales Tax.</strong> In most cases, Designer will collect sales tax. If sales tax is not collected it will be the responsibility of the Client.
                </li>
                <li>
                  <strong>Purchase Payment.</strong> No item will be ordered by Designer until the PO acceptance has been received by Designer and payment for Merchandise has been received. If the cost of the Merchandise is greater than what is originally estimated in the PO the Client will pay the Designer for the difference.  If the cost of the Merchandise is less than what is originally estimate in the PO the Designer will reimburse the Client for the difference.
                </li>
                <li>
                  <strong>Merchandise Availability.</strong> Merchandise comes in and out of stock with regularity. Client agrees to submit payment for Merchandise with 10 days of approving the PO. Merchandise revisions that are needed due to, both, a delay in payment, and an item being discontinued, will result in additional hourly fees at the Interior Design Service Rate.
                </li>
                <li>
                  <strong>No Other Fees.</strong> The Client will pay no other fees or charges for the Purchasing Service itself.
                </li>
                <li>
                  <strong>Damage to Merchandise.</strong> Client shall inspect all merchandise upon delivery and advise the freight company of any damage or non-conformity at that time. The Client should not accept any Merchandise that has damaged packaging unless it is opened and inspected at the time of delivery. The Client will have 24 hours to inspect Merchandise. Should Merchandise be delivered damaged, the Client must immediately call Designer and email Designer pictures of the damaged Merchandise. Upon verification of damage, Designer reserves the right to fix or replace damaged pieces at no additional cost to the Client; otherwise, Designer will order a replacement for the damaged Merchandise. In either case, the Client will not be
                </li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </div>

    <div class="col-xs-6">
      <ol type="I">
        <li class="list-none">

          <ol type="A" start="2">
            <li class="list-none">
              <ol type="1" start="6">
                <li class="list-none">
                  responsible to pay any additional freight costs.
                </li>
                <li>
                  <strong>Returns of Standard (Non-Custom) Merchandise.</strong> Should the client return any Merchandise purchased through Designer for reasons other than damage, the client will receive an 80% refund of the price the Client paid. Client shall pay to Designer a restocking fee equal to 20% of the Client price, plus the cost of freight to return the item to the vendor. All returns must occur in the original packaging, and all Merchandise must be unused and undamaged.
                </li>
                <li>
                  <strong>Custom Merchandise is Non-Refundable.</strong> All sales of custom Merchandise are final and non-refundable unless Merchandise contains manufacturer damage.
                </li>
                <% if project.charge %>
                    <li>
                      <strong>Merchandise Percentage: </strong>
                      Client will be charged on merchandise purchased for the project during the project period based on the terms outlined in the above PO.
                    </li>
                <% end %>
              </ol>
            </li>
          </ol>
        </li>
        <li>
          <h4 class="blue">FEE ARRANGMENT</h4>
          <ol type="A">
            <li>
              The Client agrees to pay Designer the rate amount set forth in the PO for the Interior Design Services.
            </li>
            <li>
              <strong>Invoicing, Outstanding Fees, and Taxes.</strong> The Fee (defined below) will be invoiced to the Client within 30 days of the initial room design submission to the Client and is payable to Designer within 30 (thirty) days of invoice date.  Unpaid amounts are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum charges permitted by law, whichever is lower, plus all expenses of collection, and may result in immediate termination of Services. Client shall be responsible for all taxes associated with the Services, other than U.S. taxes based on the Designer's net income.
            </li>
            <li>
              <strong>Incidental Expenses.</strong> The Fee will cover all project Interior Design services, but does not cover incidental expenses which must be reimbursed by the Client (samples, copy fees, etc.)
            </li>
            <li>
              <strong>Additional Fees for Increased Project Scope.</strong> Should the Client require additional Services beyond the original scope of work, the fee schedule will be amended.
            </li>
            <li>
              <strong>Communications.</strong> All communications between Client and Designer related to project inquiries, will occur Monday - Friday between the hours or 8:00a.m. - 5:00 p.m., unless mutually agreed upon by both parties.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

  <div class="row pdf-new-page content">
    <h2 class="pdf-contract-header text-center">TERMS AND CONDITIONS FOR THE INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT</h2>
    <div class="col-xs-6">
      <ol type="I" start="2">
        <li class="list-none">
          <ol type="A" start="6">
            <li>
              <strong>Fee Payments.</strong> Client will pay Designer the then applicable fees described in the preceding Order Form for the Services and Implementation Services in accordance with the terms therein (the "<strong>Fees</strong>"). If Client believes that Designer has billed Client incorrectly, Client must contact Designer no later than 60 days after the closing date on the first billing statement in which the error or problem appeared, in order to receive an adjustment or credit.  Inquiries should be directed to the Designer or to the Designer's customer support department.
            </li>
            <% if project.rate_type == "flat_rate_room" or project.rate_type == "flat_rate_project" %>
                <li>
                  <strong>Flat Rate Contract Revisions.</strong> Upon completion of a design, the Client is allowed a maximum of 2 revisions per room design. Unless otherwise agreed by Designer, formal revision requests must be submitted in writing or in person within 3 business days of receipt of the initial room design submission or revised room design submission.  Revisions are defined as any request communicated to Designer via the phone, text message, email, or in person, that requests products to be replaced or changed for a single room design.
                </li>
            <% end %>
          </ol>
        </li>
        <li>
          <h4 class="blue">ADDITIONAL TERMS</h4>
          <ol type="A">
            <li>
              <strong>Amendments to the Contract.</strong> Any amendments made to this Agreement will be made in writing and must be made with the consent of all parties involved.
            </li>
            <li>
              <strong>Electronic Signatures.</strong> Each party agrees that the electronic signatures of the parties to this Agreement are intended to authenticate this writing and have the same force and effect as manual signatures.
            </li>
            <li>
              <strong>Agreement Termination.</strong> This Agreement may be terminated by either party upon the other party's default in performance, but only upon written notice to the other party, specifying the nature and extent of default. If reasonable and practicable, the defaulting party shall have the opportunity to cure such default in performance within 30 days from the date of receipt of such notice, or such other time as is reasonable under the circumstances.  Designer may immediately terminate this Agreement if Client fails to make any timely payments of Fees.  Termination shall be without prejudice to any and all other rights and remedies of Designer and Client shall remain liable for all outstanding obligations owed by Client to Designer and for all items of Merchandise, Interior Designs Services, and other services on order as of the termination date. Termination shall not void any existing POs, and Client shall continue to be responsible for any obligation incurred prior to the
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-xs-6">
      <ol type="I">
        <li class="list-none">
          <ol type="A" start="3">
            <li class="list-none">
              effective date of termination. Any termination by Client must occur with at least 7 days advanced written notice to Designer.
            </li>
            <li>
              <strong>Agreement Suspension.</strong> If the Project is suspended by the Client for more than 30 consecutive days, Client shall compensate Designer for Services performed prior to note of such suspension.  When the Project is resumed the Designer compensation shall be equitably adjusted to provide for expenses incurred in the interruption and resumption of the Designer Services.
            </li>
            <li>
              <strong>Dispute Resolution, Jurisdiction and Choice of Law.</strong> Any controversy or claim arising out of or relating to this Agreement, or breach thereof, shall be decided by litigation in the appropriate state or federal circuit, district or equivalent court of the State and County where Designer resides. The laws of the State of Designer's principal place of business shall govern this Agreement, without regard to choice of laws provisions. In any dispute arising out of this Agreement, the prevailing party shall be entitled to recovery of its reasonable and actual attorney fees and expenses. In the event of collection by Designer, Client shall pay all attorneys' fees, expenses, and costs of collection, regardless of whether or not any lawsuit is filed.
            </li>
            <li>
              <strong>Limit of Responsibility.</strong> Designer shall not be responsible or liable for required permits, HOA approvals, governmental approvals, engineering, architectural services, manufacturing defects, acts of God, delays or actions of third parties.
            </li>
            <li>
              <strong>Extensions.</strong> Subject to earlier termination as provided below, this Agreement is for the Initial Service Term as specified in the Order Form, and shall be automatically renewed for additional periods of the same duration as the Initial Service Term (collectively, the "Term"), unless either party requests termination at least thirty (30) days prior to the end of the then-current term.
            </li>
            <li>
              <strong>Survival.</strong> All sections of this Agreement which by their nature should survive termination will survive termination, including, without limitation, accrued rights to payment, confidentiality obligations, warranty disclaimers, and limitations of liability.
            </li>
            <li>
              <strong>Severability.</strong> If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise remain in full force and effect and enforceable.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

  <div class="row pdf-new-page content">
    <h2 class="pdf-contract-header text-center">TERMS AND CONDITIONS FOR THE INTERIOR DESIGN AND PURCHASING SERVICES AGREEMENT</h2>
    <div class="col-xs-6">
      <ol type="I">
        <li class="list-none">
          <ol type="A" start="10">
            <li>
              <strong>Assignment.</strong> This Agreement is not assignable, transferable or sublicensable by Client, except with Designer's prior written consent.  Designer may transfer and assign any of its rights and obligations under this Agreement without Client's consent.
            </li>
            <li>
              <strong>Merger.</strong> This Agreement is the complete and exclusive statement of the mutual understandings of the parties, and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement. All waivers and modifications must be in a writing, and signed by both parties, except as otherwise provided herein.  No agency, partnership,
            </li>
          </ol>
        </li>
      </ol>
    </div>
    <div class="col-xs-6">
      <ol type="I">
        <li class="list-none">
          <ol type="A" start="11">
            <li class="list-none">
              joint venture, or employment is created as a result of this Agreement and Client does not have any authority of any kind to bind the Designer in any respect whatsoever.
            </li>
            <li>
              <strong>Notices.</strong> All notices under this Agreement shall be in writing to the recipient party's address in the Order Form, unless otherwise updated in writing, and will be deemed to have been duly given when received, if personally delivered; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; the day after it is sent, if sent for next day delivery by a recognized overnight delivery service; and upon receipt, if sent by certified or registered mail, return receipt requested.
            </li>
          </ol>
        </li>
      </ol>
    </div>
  </div>

  <% if project.description.present? and project.description.length > 140 %>
      <div class="row pdf-new-page content">
        <h2 class="pdf-contract-header text-center">Addendum</h2>
        <div class="col-xs-16">
          <strong>Description of "Project":</strong><br>
          <%= project.description %>
        </div>
      </div>
  <% end %>

</div>