<%= javascript_include_tag 'spree/frontend/signature_pack.js' %>
<div class="row">
    <div class="col-md-3">
        <%= render :partial => "spree/boards/dashboard_menu", :locals => {:selected => "projects"} %>
    </div>

    <div class="col-md-9">
      <!--[if lt IE 9]>
      <script type="text/javascript" src="libs/flashcanvas.js"></script>
      <![endif]-->
      <div class="row">
        <h1>Contract</h1>
      </div>
      <div class="row">
        <%= form_for @contract, format: :json, html: {id: 'js-create-contract'} do |f| %>
          <div class="form-group hidden">
            <%= f.text_field :project_id, value: "#{params[:id]}", class: 'form-control' %>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :designer_name %>
              <%= f.text_field :designer_name, value: @project.try(:project_name), class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <%= label_tag :client_name %>
              <%= f.text_field :client_name, value: @project.user.try(:full_name), class: 'form-control' %>
            </div>
          </div>


          <div class="col-md-12 text-right">
            <%= link_to "Cancel",projects_path, class: "btn btn-default" %>
            <%= f.button "Save", type: :submit, class: "btn btn-primary", value: false %>
            <%= f.button "Save & Send", type: :submit, class: "btn btn-primary", value: true %>
          </div>
        <% end %>
      </div>
    </div>
</div>

<div id="board-history-modal-handler"></div>