<div class="quick-shop-modal">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" >
      <div class="modal-content">
        <div class="modal-header">
          <span class="sn-qs-close" data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
        <div class="modal-body js-modal-body">

          ...
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54fe66e3227e091d" async="async"></script>
<% if variants.present? %>
  <% variants.in_groups_of(4, false) do |row_variants| %>
    <div class="row">
    <% for variant in row_variants %>

      <% product = variant.product %>
        <div class="col-md-3 col-sm-6 col-xs-12" id="products">

        <div class="responsive-container">
          <% if spree_current_user.present? and spree_current_user.has_spree_role?("admin") %>
            <div class="js-admin-config">
              <%= link_to "#" do %>
                <i class="fa fa-wrench"></i>
              <% end %>
            </div>
          <% end %>
          <div class="dummy"></div>
          <% cache product do %>
            <div class="img-container sn-pointer-on-hover js-listed-product">
              <div class="centerer"></div>
              <%= link_to product_path(product, variant_portfolio_id: variant.id), :itemprop => 'url' do %>
                <% if variant.images.present? && variant.images.order(position: :asc).first.attachment_file_name.present? %>
                  <%= image_tag variant.images.order(position: :asc).first.attachment.url(:listing) %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <%= show_out_of_stock(product) %>

          <div class="variant-options-count">
            <%= show_options(product) %>
          </div>
        </div>
        <div class="share-buttons">
          <!--<#%= link_to product, itemprop: "name", title: product.name, class: 'sn-text-decoration-none' do %>-->
          <div class="btn btn-block sn-prod-btn js-quick-shop" data-quick-shop-url="<%= modal_info_product_path(product.id) %>" style="min-width: 100%;">
            <span>Quick Shop</span>
          </div>
          <!--<#% end %>-->

        </div>
<div class="sn-to-the-left">
        <%= link_to "#{is_new_arrival(product)} #{truncate(product.name.split(' ').map(&:capitalize).join(' '), :length => 50)}".html_safe, product, itemprop: "name", title: product.name,
                    :class => "info sn-product-name" %>
</div>
        <div class="row price-discount sn-to-the-left">
          <div class="col-md-12">
            <div>
              <% price_class = price_classes(product)%>
              <span class="<%= price_class[:price_main] %>" itemprop="price">
                            <%= d_main_price(product, product.check_if_in_sale_taxon) %>
                          </span>

              <% if product.check_if_in_sale_taxon %>
                <% if product.has_variants? %>
                  <s><%= c_sale_price_value(product) %></s>
                <% else %>
                                <span class="price-range <%= price_class[:price_msrp] %>">
                                  <% if product.should_display_msrp? %>
                                    <s><%= d_msrp_price(product) %></s>
                                  <% else %>
                                    <s><%= d_master_price(product) %></s>
                                  <% end %>
                                </span>
                  <!--<span class="price-percentage-off">-->
                  <!--<#%= "#{sale_percentage_off(product)}% off" %>-->
                  <!--</span>-->
                <% end %>
              <% end %>


            </div>
            <div>
              <% if product.proper_price > 95 %>
                                <span class="products-tile-free-shipping">
                                  <span><i class="fa fa-truck fa-flip-horizontal"></i></span>
                                  <span>free shipping</span>
                                </span>


              <% end %>
              <% unless has_an_option_color? product %>
                <%= render partial: 'spree/shared/hearth_favourite', locals: { product: product } %>
              <% end %>
            </div>
            <div>
              <!--<div class="sn-variants-color-wrapper">-->
              <!--<#% index = 0 %>-->
              <!--<#% product.variants.each do |variant|%>-->
              <!--<#% color = variant.option_values.find_by(option_type_id: option_type_color_ids).try('presentation') %>-->
              <!--<#% if color.present? && index < 3 %>-->
              <!--<span class="sn-variant-color scout-tooltip <#%= color_class_search(color) %>" data-toggle="tooltip" data-original-title="<#%= color %>" data-placement="top"></span>-->
              <!--<#% end %>-->
              <!--<#% index += 1 if color.present?%>-->
              <!--<#% end %>-->
              <!--<#% if index > 3 %>-->
              <!--<span class="sn-more-options-available">-->
              <!--+ more options available-->
              <!--</span>-->
              <!--<#% end %>-->

              <!--<#% if has_an_option_color? product %>-->
              <!--<#%= render partial: 'spree/shared/hearth_favourite', locals: { product: product } %>-->
              <!--<#% end %>-->
              <!--</div>-->

            </div>
          </div>

        </div>
      </div>
    <% end %>
    </div>












  <% end %>
<% end %>
<script>
  observeBookmarkChanges();
</script>
