<div class="alpha sixteen columns">
  <fieldset class="no-border-bottom">
    <legend><%= Spree.t('slide.slide_detail') %></legend>

		<%= f.field_container :name do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'fullwidth title' %>
      <%= f.error_message_on :name %>
		<% end %>

		<%= f.field_container :path do %>
      <%= f.label :path %>
      <%= f.text_field :path, class: 'fullwidth title' %>
      <%= f.error_message_on :path %>
		<% end %>

    <%= f.field_container :slider_image do %>
      <%= image_tag(slide.slider_image.attachment(:small)) if slide.slider_image.present? %>
      <%= f.label :attachment, slide.slider_image.present? ? "Slide Image" : "Change Slide Image" %>
      <div id="slider_image_file" class="choose-file-button">Choose a file</div>
      <%= f.fields_for :slider_image do |slider_image| %>
        <%= slider_image.file_field :attachment %>
      <% end %>
    <% end %>

    <%= f.field_container :published_at do %>
      <%= f.label :published_at %>
      <%= f.text_field :published_at, value: datepicker_field_value(f.object.published_at), class: 'timepicker fullwidth' %>
      <%= f.error_message_on :published_at %>
    <% end %>

    <%= f.field_container :expires_at do %>
      <%= f.label :expires_at %>
      <%= f.text_field :expires_at, value: datepicker_field_value(f.object.expires_at), class: 'timepicker fullwidth' %>
      <%= f.error_message_on :expires_at %>
    <% end %>

    <%= f.field_container :expires_at do %>
      <%= f.field_container :is_default do %>
        <label>
          <%= f.check_box :is_default %> Show this as the default backup if there are no other slides scheduled.
      <% end %>
    <% end %>
      </label>
  </fieldset>
</div>