<% render partial: 'page_action', locals: {slide: @slide} %>

<% content_for :page_title do %>
  <%= Spree.t('slide.new_slide') %>
<% end %>


<%= render "spree/shared/error_messages", target: @slide %>

<%= form_for [:admin, @slide], html: {multipart: true} do |f| %>
  <%= render partial: 'form', locals: { f: f, slide: @slide } %>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.create'), 'ok' %>
    <span class="or"><%= Spree.t(:or) %></span>
    <%= button_link_to Spree.t('actions.cancel'), collection_url, :icon => 'remove' %>
  </div>
<% end %>