<% if !@review_check.used %>
  <% content_for :scripts do %>
    <%= javascript_include_tag 'spree/product_reviews.js' %>
  <% end %>
  <h2 class="text-center">You have bought <%= @product.name %> about 60 days ago</h2>
  <div class="row">
    <div class="col-md-6">
        <%= image_tag @product.images.first.attachment.url(:product) %>
    </div>
    <div class="col-md-6">
      <%= @product.description.html_safe %>
    </div>
  </div>
    <div class="user-review-notification text-center"></div>

  <%= form_for [:admin,@review], :url => user_product_review_create_path, html: {multipart: true,id: "new_product_review_form_order"} do |f| %>
    <div class="user-review-partial">
      <h4>Rating: </h4>
      <div id="rating">
        <input name="overwall" type="radio" class="star" />
        <input name="overwall" type="radio" class="star" />
        <input name="overwall" type="radio" class="star" />
        <input name="overwall" type="radio" class="star" />
        <input name="overwall" type="radio" class="star" />
      </div>
      <br>

      <div class="hidden div-rating">
        <%= f.text_field :rating, :class => 'rating' %>
      </div>

      <div class="control-group">
        <%= f.label :text, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :text, :class => 'form-control text_field fullwidth user_review' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :review_images, "Images (You can pass multiple pictures)", :class => 'control-label' %>
        <div class="controls">
          <%= file_field_tag "images[]", type: :file, multiple: true %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>

  <% end %>

<% else %>
    <h2 class="text-center">You have already wrote a review</h2>
<% end %>