<div class="col-md-12 text-center my-portfolio">
  <h1>My portfolio</h1>
</div>

<div class="col-md-7 row text-center add-new-room">
  <h2>EDIT ROOM</h2>
</div>

<%= form_for @portfolio,:url => update_portfolio_path, method: :post, html: {multipart: true, id: "update_portfolio_form"} do |f| %>
  <div class="row">
    <div class="col-md-7">

      <div class="control-group row hidden">
        <%= f.label :id, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_field :id, value:@portfolio.id, :class => 'form-control' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row hidden">
        <%= f.label :user_id, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_field :user_id, value: spree_current_user.id, :class => 'form-control' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :portfolio_image, "Add image", :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.file_field :portfolio_image %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :name, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_field :name, :class => 'form-control fullwidth' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :room_type, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.select :room_type, options_for_select(@room_type,@portfolio.room_type),{}, :class => 'form-control' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :style, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.select :style, options_for_select(@room_style,@portfolio.style),{}, :class => 'form-control' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :wall_color, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.select :wall_color, options_for_select(@colors,@portfolio.wall_color),{}, :class => 'form-control' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :paint_brand, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_field :paint_brand, :class => 'form-control fullwidth' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :paint_name, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_field :paint_name, :class => 'form-control fullwidth' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :description, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <%= f.text_area :description, :class => 'form-control fullwidth' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <%= f.label :tags, :class => 'control-label col-md-3' %>
        <div class="controls col-md-9">
          <ul id="tags"></ul>
          <%= f.text_field :tags, :class => 'form-control fullwidth hidden', :placeholder => 'Use commas to separate tags' %>
          <div class="info"></div>
        </div>
      </div>

      <div class="control-group row">
        <label>
          <input type="checkbox" id="portfolio_tos" class="col-md-3">
          <div class="col-md-9 tos">
            <!--By checking here I attest that I own the rights to the image loaded and agree to allow Scout & Nimble, LLC to use this image-->
            <!--for marketing purposes. Scout & Nimble, LLC agrees to give the designer credit for the image and use the image for purposes of building-->
            <!--the designer's brnad.-->
            By checking here I attest that I own the rights to the image
            loaded and agree to allow Scout & Nimble, LLC to use this
            image for marketing purposes. Scout & Nimble, LLC agrees
            to always give the designer credit for the image and use the
            image for purposes of building the designer’s brand.
          </div>
        </label>
      </div>

    </div>

    <div class="col-md-5">
      <img id="img_prev" src="<%= @portfolio.portfolio_image.url if @portfolio.portfolio_image.present? %>" alt="" class="img-responsive"/>
    </div>
  </div>

  <div class="row">
    <div class="form-actions text-right col-md-7">
      <div class="btn btn-danger destroy-portfolio" data-id="<%= @portfolio.id %>" >Delete</div>
      <div class="btn btn-default cancel-portfolio">Cancel</div>
      <%= f.submit "Update", :class => 'btn btn-primary disabled' %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'spree/portfolio_ajax.js' %>
