<% content_for :scripts do %>
    <%= javascript_include_tag 'spree/portfolio.js' %>
<% end %>

<div class="row room-header">
  <div class="col-md-12">
    <%= image_tag "frontend/boards/header.jpg", class: "img-responsive",lazyload: true %>
  </div>

  <div class="col-md-12">
    <hr class="scout-divider">
    <div class="room-text">
      Easily shop hundreds of designer rooms to achive the perfect look. Get expert<br>
      designer insight and take the guesswork out of decorating your home.
    </div>
    <hr class="scout-divider">
  </div>


  <div class="col-md-6">
    <a href="/portfolios">
      <%= image_tag "frontend/boards/left.jpg", class: "img-responsive",lazyload: true %>
    </a>
  </div>

  <div class="col-md-6">
    <a href="/rooms">
      <%= image_tag "frontend/boards/right.jpg", class: "img-responsive",lazyload: true %>
    </a>
  </div>
</div>

  <div class="row portfolios" id="portfolios-content">

    <% if @portfolios.any? %>

        <div class="row col-md-12 text-center">
          <h1>SHOP PORTFOLIOS</h1>
        </div>

        <div class="col-md-3">
          <div class="portfolio-filters">
            <h4>Room Type<span class="toggle-filter"><%= params[:filter].present? ? (params[:filter][:room_type].present? ? '-' : '+') : '-' %></span></h4>
            <div class="filter room_type <%= params[:filter].present? ? (params[:filter][:room_type].present? ? '' : 'filter-hide') : '' %>">
              <ul>
                <% @room_type.each do |k,v| %>
                    <li>
                      <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:room_type].present? and params[:filter][:room_type].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="room_type" >
                        <%= k[0] %>
                        <span class="count">(<%= v %>)</span>
                        <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:room_type].present? and params[:filter][:room_type].include? k[1].to_s %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>

            <h4>Room Style<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:style].present?) ? "-":"+" %></span></h4>
            <div class="filter room_style <%= (params[:filter].present? and params[:filter][:style].present?) ? '' : 'filter-hide' %>">
              <ul>
                <% @room_style.each do |k,v| %>
                    <li>
                      <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:style].present? and params[:filter][:style].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="room_style" >
                        <%= k[0] %>
                        <span class="count">(<%= v %>)</span>
                        <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:style].present? and params[:filter][:style].include? k[1].to_s %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>

            <h4>Wall Color<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:wall_color].present?) ? "-":"+" %></span></h4>
            <div class="filter color <%= (params[:filter].present? and params[:filter][:wall_color].present?) ? '' : 'filter-hide' %>">
              <ul>
                <% @colors.each do |k,v| %>
                    <li>
                      <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:wall_color].present? and params[:filter][:wall_color].include? k[1].to_s %>" data-value="<%= k[1] %>" data-filter="color" >
                        <%= k[0] %>
                        <span class="count">(<%= v %>)</span>
                        <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:wall_color].present? and params[:filter][:wall_color].include? k[1].to_s %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>

            <h4>Designer<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:user_id].present?) ? "-":"+" %></span></h4>
            <div class="filter designer <%= (params[:filter].present? and params[:filter][:user_id].present?) ? '' : 'filter-hide' %>">
              <ul>
                <% @designers.each do |k,v| %>
                    <li>
                      <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:user_id].present? and params[:filter][:user_id].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="designer" >
                        <%= k[0] %>
                        <span class="count">(<%= v %>)</span>
                        <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:user_id].present? and params[:filter][:user_id].include? k[1].to_s %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>

            <h4>Tags<span class="toggle-filter"><%= (params[:filter].present? and params[:filter][:tags].present?) ? "-":"+" %></span></h4>
            <div class="filter tags  <%= (params[:filter].present? and params[:filter][:tags].present?) ? '' : 'filter-hide' %>">
              <ul>
                <% @tags.each do |k,v| %>
                    <li>
                      <a class="<%= 'gold_select' if params[:filter].present? and params[:filter][:tags].present? and params[:filter][:tags].include? k[1].to_s %>" data-value="<%= k[1] %>" data-value=<%= k[1] %> data-filter="tags" >
                        <%= k[0] %>
                        <span class="count">(<%= v %>)</span>
                        <%= '<i class="fa fa-times"></i>'.html_safe if params[:filter].present? and params[:filter][:tags].present? and params[:filter][:tags].include? k[1].to_s %>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9">

          <div class="js-spinner"><%= image_tag("frontend/preloader64.gif")%></div>

          <div class="result row">
            <% @portfolios.each do |p| %>
              <%= render :partial => 'spree/portfolios/portfolio_item', locals: {p: p,cols: nil} %>
            <% end %>
          </div>

          <div class="hidden paginate-to-remove">
            <%= paginate @portfolios %>
          </div>

        </div>
        <!-- Please call pinit.js only once per page -->
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <% else %>
        <div class="row col-md-12 text-center">
          <h1>THERE IS NO PORTFOLIOS YET</h1>
        </div>
    <% end %>

  </div>

<div id="modal-handler"></div>