<% if @portfolios_ordering.any? %>

        <% @portfolios_ordering.each do |k,v| %>

            <div class="col-md-4 col-xs-6 col-sm-6 no-paddings">

            <% v.each do |p| %>

              <div class="col-md-12 col-sm-12 col-xs-12 portfolio small-paddings">

                <div class="image">
                  <% if p.board.present? and p.board.status=="published" %>
                    <%= link_to image_tag(p.portfolio_image.url),show_portfolio_path(p.board) %>
                  <% else %>
                    <%= image_tag p.portfolio_image.url, class: "img-responsive img-container", :data => {:id => p.id} %>
                  <% end %>
                </div>

                <div class="shop-portfolio col-md-12 col-xs-12 col-sm-12 <%= 'no-bottom-radius' if p.board.present? and p.board.status == 'published'%>">

                  <div class="text-center">
                    <%# if p.board.present? or spree_current_user.present? %>
                        <div class="social-portfolio" data-pid=<%= p.id %> data-uid=<%= spree_current_user.id if spree_current_user.present? %> >

                          <%
                            media,description = ""
                            media = p.portfolio_image.url.split("?")[0].to_s if p.portfolio_image.url.present?
                            description = strip_tags(p.board.description) if p.board.present? and p.board.description.present?
                            url = p.board.present? ? show_portfolio_path(p.board) : 'https://www.scoutandnimble.com/portfolios'
                            portfolio_name = p.name if p.name.present?
                          %>

                          <div class="favorits">
                            <div class="shared-icon" >
                              <a data-pin-do="buttonPin" data-pin-custom="true" href="//www.pinterest.com/pin/create/button/?url=<%= url %>&media=<%= media %>&description=<%= description %>">
                                <%= image_tag("frontend/pinterest.png",style: "background-color: #c9cace;position:relative;top:-1px;") %>
                              </a>
                              <!-- Please call pinit.js only once per page -->
                              <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
                            </div>
                          </div>


                          <% if spree_current_user.present? %>
                              <div class="favorits">
                                <div class="favorite fav add-to-portfolio-favorites <%= "hidden" if p.is_favorite?(spree_current_user) %>">
                                  <i class="fa fa-heart fa-white"></i>
                                </div>
                                <div class="favorite fav remove-from-portfolio-favorites <%= "hidden" unless p.is_favorite?(spree_current_user) %>">
                                  <i class="fa fa-heart fa-red"></i>
                                </div>
                              </div>
                          <% end %>


                          <div class="favorits">
                            <div class="shared-icon" >

                              <a onclick="return window.open('https://www.facebook.com/dialog/feed?app_id=329825710691123&display=popup&name=<%= portfolio_name %>&description=<%= description %>&link=<%= url %>', 520, 570)">
                                <%= image_tag("frontend/facebook.png",style: "background-color: #c9cace;position:relative;top:-1px;") %>
                              </a>
                            </div>
                          </div>

                        </div>
                    <%# end %>
                  </div>


                  <div class="details"><%= p.name %></div>
                  <div>
                    <div class="col-md-3 col-xs-4 col-sm-4 text-center small-paddings">
                      <%= p.user.user_images.present? ? link_to(image_tag(p.user.user_images.first.attachment.url(:mini), class: "style-img default-img"),"/#{p.user.username}" ) : link_to(image_tag(p.user.user_images.new.attachment.url(:mini), class: "style-img default-img"),"/#{p.user.username}") %>
                    </div>

                    <div class="col-md-9 col-xs-8 col-sm-8 profile-link small-paddings">
                      <div class="designer_name_div">
                        <span class="designer_name"><%= link_to(p.user.full_name,"/#{p.user.username}") %></span>
                      </div>
                      <div class="designer_company_div">
                        <span class="designer_company"><%= p.user.company_name %></span>
                      </div>
                    </div>
                  </div>




                </div>

                <% if p.board.present? and p.board.status=="published" %>
                  <div class="shop-portfolio col-md-12 col-xs-12 col-sm-12">
                    <div></div>
                    <div class="col-md-12 col-xs-12 col-sm-12 text-center no-paddings">
                      <%= link_to "Shop the Look",show_portfolio_url(p.board), class: "btn btn-primary" %>
                    </div>
                  </div>
                <% end %>


              </div>
            <% end %>
            </div>
        <% end %>


      <div class="hidden paginate-to-remove">
        <%= paginate @portfolios %>
      </div>


<% else %>
    <div class="row col-md-12 text-center">
      <h1>THERE IS NO PORTFOLIOS YET</h1>
    </div>
<% end %>