<% content_for :scripts do %>
    <%= javascript_include_tag 'spree/portfolio.js' %>
<% end %>



<div class="row">
  <div class="col-md-3">
    <%= render :partial => "spree/boards/dashboard_menu", :locals => {:selected => "portfolio"} %>
  </div>

  <div class="col-md-9">
    <div class="portfolio-form">

    <div class="col-md-12 text-center my-portfolio">
      <h1>My portfolio</h1>
    </div>

    <div class="col-md-7 row text-center add-new-room">
      <h2>ADD NEW ROOM</h2>
    </div>

    <%= form_for @portfolio,:url => create_portfolio_path, html: {multipart: true, id: "create_portfolio_form"} do |f| %>
        <div class="row">
          <div class="col-md-7">

            <div class="control-group row hidden">
              <%= f.label :user_id, :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.text_field :user_id, value: spree_current_user.id, :class => 'form-control' %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <%= f.label :portfolio_image, "Add image", :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.file_field :portfolio_image %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <%= f.label :name, :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.text_field :name, :class => 'form-control fullwidth' %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <%= f.label :room_type, :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.select :room_type, options_for_select(@room_type),{}, :class => 'form-control' %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <%= f.label :style, :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.select :style, options_for_select(@room_style),{}, :class => 'form-control' %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <%= f.label :wall_color, :class => 'control-label col-md-3' %>
              <div class="controls col-md-9">
                <%= f.select :wall_color, options_for_select(@colors),{}, :class => 'form-control' %>
                <div class="info"></div>
              </div>
            </div>

            <div class="control-group row">
              <label>
                <input type="checkbox" id="portfolio_tos" class="col-md-3">
                <div class="col-md-9 tos">
                  <!--By checking here I attest that I own the rights to the image loaded and agree to allow Scout & Nimble, LLC to use this image-->
                  <!--for marketing purposes. Scout & Nimble, LLC agrees to give the designer credit for the image and use the image for purposes of building-->
                  <!--the designer's brnad.-->
                  By checking here I attest that I own the rights to the image
                  loaded and agree to allow Scout & Nimble, LLC to use this
                  image for marketing purposes. Scout & Nimble, LLC agrees
                  to always give the designer credit for the image and use the
                  image for purposes of building the designer’s brand.
                </div>
              </label>
            </div>

          </div>

          <div class="col-md-5">
            <img id="img_prev" src="" alt="" class="img-responsive"/>
          </div>
        </div>

        <div class="row">
          <div class="form-actions text-center">
            <%= f.submit "Save Changes", :class => 'btn btn-primary disabled' %>
          </div>
        </div>
    <% end %>
    </div>

    <div class="row dashboard-portfolios">
      <% if @portfolios.any? %>
        <% if @portfolios.count > 4 %>
          <div class="container slide-products col-md-12">
            <ul class="products_flexi_box nbs-flexisel-ul">
              <% @portfolios.each do |portfolio| %>
                  <li>
                    <div class="product-container">
                      <div class="img-container">
                        <%= image_tag portfolio.portfolio_image.url(:carousel), class: "carusel-img", data: {'id' => portfolio.id} %>
                      </div>
                      <div class="title">
                        <%= portfolio.name %>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <div class="col-md-12">
            <% @portfolios.each do |portfolio| %>
                <div class="col-md-3">
                  <div class="product-container">
                    <div class="img-container text-center portfolio-carousel-static">
                      <%= image_tag portfolio.portfolio_image.url(:carousel), data: {'id' => portfolio.id} %>
                    </div>
                    <div class="title text-center">
                      <%= portfolio.name %>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>